body, html {
  font-family: $brand-font-1;
  font-weight: 300;
  font-size: 18px;
}

input, textarea {
  font-family: inherit;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border: none;
  outline: none;
  box-shadow: none;
}

textarea {
  resize: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}
