<div class="fp-swiper-slide">
  <div class="fp-services fp-services--startup">
    <div class="fp-services__bg"></div>
    <div class="fp-services__container" data-swiper-parallax-y="-400">
      <div class="fp-services__inner">
        <div class="fp-services__title-wrapper">
          <h1><b>Startup</b> Services</h1>
        </div>
        <p>Bussmann Advisory provides CxO advisory and acceleration services for start-ups, including ICO projects.
          Serving as a trusted advisor to the CEO/founders/CxO we work with, helping them navigate inevitable
          early-stage challenges and opportunities.</p>
        <a class="button-nav" href="startup-services.html">Learn More</a>
      </div>
    </div>
    <div class="fp-services__portfolio">
      <div class="fp-services__portfolio-inner" data-swiper-parallax-y="-400">
        <h3><a href="portfolio-startup-clients.html">Portfolio</a></h3>
        <div class="fp-services__portfolio-slider-box">
          <div class="fp-services__portfolio-slider" id="fp-startup-portfolio-slider">
            <div class="fp-services__portfolio-slider-arrow fp-services__portfolio-slider-arrow--up">
              {% include '../../svg/_icon-arrow-down.twig' %}
            </div>
            <div class="fp-services__portfolio-slider-arrow fp-services__portfolio-slider-arrow--down">
              {% include '../../svg/_icon-arrow-down.twig' %}
            </div>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="portfolio-startup-clients.html"><img src="img/portfolio-logos-png/beam-wallet.png"
                                                                 alt="portfolio img"></a>
              </div>
              <div class="swiper-slide">
                <a href="portfolio-startup-clients.html"><img src="img/portfolio-logos-png/bonova-advisory.png"
                                                                 alt="portfolio img"></a>
              </div>
              <div class="swiper-slide">
                <a href="portfolio-startup-clients.html"><img src="img/portfolio-logos-png/cardstack.png"
                                                                 alt="portfolio img"></a>
              </div>
              <div class="swiper-slide">
                <a href="portfolio-startup-clients.html"><img src="img/portfolio-logos-png/deon-digital.png"
                                                                 alt="portfolio img"></a>
              </div>
              <div class="swiper-slide">
                <a href="portfolio-startup-clients.html"><img src="img/portfolio-logos-png/lykke.png"
                                                                 alt="portfolio img"></a>
              </div>
              <div class="swiper-slide">
                <a href="portfolio-startup-clients.html"><img src="img/portfolio-logos-png/ripple.png"
                                                                 alt="portfolio img"></a>
              </div>
              <div class="swiper-slide">
                <a href="portfolio-startup-clients.html"><img src="img/portfolio-logos-png/shapeshift.png"
                                                                 alt="portfolio img"></a>
              </div>
              <div class="swiper-slide">
                <a href="portfolio-startup-clients.html"><img src="img/portfolio-logos-png/smart-containers.png"
                                                                 alt="portfolio img"></a>
              </div>
              <div class="swiper-slide">
                <a href="portfolio-startup-clients.html"><img src="img/portfolio-logos-png/tend.png"
                                                                 alt="portfolio img"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
