<div class="fp-swiper-slide">
  <div class="fp-team">
    <div class="fp-team__bg"></div>
    <div class="fp-team__info-container" data-swiper-parallax-y="-400">
      <div class="fp-team__info-inner">
        <h1>Our <b>Team</b></h1>
        <p>As part of a global network of recognized thought leaders, Bussmann Advisory offers you access to proven
          expertise and experience in a wide variety of key disciplines.</p>
        <a class="button-nav" href="our-team.html">Meet All Team</a>
      </div>
    </div>
    <div class="fp-team__slider-container">
      <div class="fp-team__slider-wrapper">
        <div class="fp-horizontal-slider" id="fp-team-slider" data-swiper-parallax-y="-400">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <div class="fp-team-member">
                <a class="fp-team-member__img-link" href="oliver-bussmann.html">
                  <img src="img/team/oliver-bussmann.jpg" alt="member photo">
                </a>
                <a class="fp-team-member__title-link" href="oliver-bussmann.html">
                  <h2>Oliver</h2>
                  <h2>Bussmann</h2>
                </a>
                <p>Founder and CEO</p>
                <ul class="fp-team-member__links">
                  <li><a class="button-social" href="#">{% include 'svg/_social-linkedin.twig' %}</a></li>
                  <li><a class="button-social" href="#">{% include 'svg/_social-twitter.twig' %}</a></li>
                </ul>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="fp-team-member">
                <a class="fp-team-member__img-link" href="ricardo-wehrhahn.html">
                  <img src="img/team/ricardo-wehrhahn.jpg" alt="member photo">
                </a>
                <a class="fp-team-member__title-link" href="ricardo-wehrhahn.html">
                  <h2>Ricardo </h2>
                  <h2>Wehrhahn</h2>
                </a>
                <p>Senior Partner</p>
                <ul class="fp-team-member__links">
                  <li><a class="button-social" href="#">{% include 'svg/_social-linkedin.twig' %}</a></li>
                  <li><a class="button-social" href="#">{% include 'svg/_social-twitter.twig' %}</a></li>
                </ul>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="fp-team-member">
                <a class="fp-team-member__img-link" href="ricardo-wehrhahn.html">
                  <img src="img/team/ricardo-wehrhahn.jpg" alt="member photo">
                </a>
                <a class="fp-team-member__title-link" href="ricardo-wehrhahn.html">
                  <h2>Ricardo </h2>
                  <h2>Wehrhahn</h2>
                </a>
                <p>Senior Partner</p>
                <ul class="fp-team-member__links">
                  <li><a class="button-social" href="#">{% include 'svg/_social-linkedin.twig' %}</a></li>
                  <li><a class="button-social" href="#">{% include 'svg/_social-twitter.twig' %}</a></li>
                </ul>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="fp-team-member">
                <a class="fp-team-member__img-link" href="ricardo-wehrhahn.html">
                  <img src="img/team/ricardo-wehrhahn.jpg" alt="member photo">
                </a>
                <a class="fp-team-member__title-link" href="ricardo-wehrhahn.html">
                  <h2>Ricardo </h2>
                  <h2>Wehrhahn</h2>
                </a>
                <p>Senior Partner</p>
                <ul class="fp-team-member__links">
                  <li><a class="button-social" href="#">{% include 'svg/_social-linkedin.twig' %}</a></li>
                  <li><a class="button-social" href="#">{% include 'svg/_social-twitter.twig' %}</a></li>
                </ul>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="fp-team-member">
                <a class="fp-team-member__img-link" href="ricardo-wehrhahn.html">
                  <img src="img/team/ricardo-wehrhahn.jpg" alt="member photo">
                </a>
                <a class="fp-team-member__title-link" href="ricardo-wehrhahn.html">
                  <h2>Ricardo </h2>
                  <h2>Wehrhahn</h2>
                </a>
                <p>Senior Partner</p>
                <ul class="fp-team-member__links">
                  <li><a class="button-social" href="#">{% include 'svg/_social-linkedin.twig' %}</a></li>
                  <li><a class="button-social" href="#">{% include 'svg/_social-twitter.twig' %}</a></li>
                </ul>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="fp-team-member">
                <a class="fp-team-member__img-link" href="ricardo-wehrhahn.html">
                  <img src="img/team/ricardo-wehrhahn.jpg" alt="member photo">
                </a>
                <a class="fp-team-member__title-link" href="ricardo-wehrhahn.html">
                  <h2>Ricardo </h2>
                  <h2>Wehrhahn</h2>
                </a>
                <p>Senior Partner</p>
                <ul class="fp-team-member__links">
                  <li><a class="button-social" href="#">{% include 'svg/_social-linkedin.twig' %}</a></li>
                  <li><a class="button-social" href="#">{% include 'svg/_social-twitter.twig' %}</a></li>
                </ul>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="fp-team-member">
                <a class="fp-team-member__img-link" href="ricardo-wehrhahn.html">
                  <img src="img/team/ricardo-wehrhahn.jpg" alt="member photo">
                </a>
                <a class="fp-team-member__title-link" href="ricardo-wehrhahn.html">
                  <h2>Ricardo </h2>
                  <h2>Wehrhahn</h2>
                </a>
                <p>Senior Partner</p>
                <ul class="fp-team-member__links">
                  <li><a class="button-social" href="#">{% include 'svg/_social-linkedin.twig' %}</a></li>
                  <li><a class="button-social" href="#">{% include 'svg/_social-twitter.twig' %}</a></li>
                </ul>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="fp-team-member">
                <a class="fp-team-member__img-link" href="ricardo-wehrhahn.html">
                  <img src="img/team/ricardo-wehrhahn.jpg" alt="member photo">
                </a>
                <a class="fp-team-member__title-link" href="ricardo-wehrhahn.html">
                  <h2>Ricardo </h2>
                  <h2>Wehrhahn</h2>
                </a>
                <p>Senior Partner</p>
                <ul class="fp-team-member__links">
                  <li><a class="button-social" href="#">{% include 'svg/_social-linkedin.twig' %}</a></li>
                  <li><a class="button-social" href="#">{% include 'svg/_social-twitter.twig' %}</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <div class="fp-horizontal-slider__controls" id="fp-team-controls">
          <div class="fp-horizontal-slider__progress-bar"><i></i></div>
          <div class="fp-horizontal-slider__buttons">
            <button class="button-scroll button-scroll--left">{% include '../../svg/_icon-arrow-with-solid-bg.twig' %}</button>
            <button class="button-scroll button-scroll--right">{% include '../../svg/_icon-arrow-with-solid-bg.twig' %}</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
