<section class="slide-flex-container" data-section="about">
    <div class="homepage-about-us container">
        <div class="homepage-about-us__container">
            <div class="homepage-about-us__body">
                <div class="corner__container">
                    <div class="corner corner--left-top"></div>
                    <div class="corner corner--right-top"></div>
                    <div class="corner corner--left-bottom"></div>
                    <div class="corner corner--right-bottom"></div>
                </div>
                <h2 class="primary-title animation-item">{{ aboutUs.title }}</h2>
                <div class="homepage-about-us__subtitle animation-item">{{ aboutUs.subtitle }}</div>
                <p class="homepage-about-us__text animation-item">{{ aboutUs.description }}</p>
                <div class="btn-perspective btn-perspective--center">
                    <div class="btn-perspective__inner">
                        <button class="btn btn-1 btn--dark homepage-about-us__btn animation-item">Our works</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
