.form {
  font-size: 30px;

  @include mq($exl) {
    font-size:24px;
  }

  @include mq($xxxl) {
    font-size: 20px;
  }

  @include mq($lg) {
    font-size: 18px;
  }

  &__input {
    display: block;
    width: 100%;
    border: 2px solid #fff;
    background: none;
    padding: 8px 10px;
    margin-bottom: 15px;
    font-size: inherit;
    transition: border-color 0.8s;

    //&:focus {
    //  border: 2px solid $primary-color;
    //}

    &::placeholder {
      font-weight: 300;
    }

    @include mq($lg) {
      padding: 5px 8px;
    }

    @include mq($md) {
      margin-bottom: 8px;
    }
  }

  &__textarea {
    height: 135px;

    @include mq($sm) {
      height: 100px;
    }
  }
}
