.preloader {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 5555;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transform-origin: 50% 100%;
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 0;

    svg {
      height: 150px;
      fill: rgba(0,0,0,0);
      stroke-width: 1px;
      transition: fill 0.5s, stroke 0.5s;

      @include mq($md) {
        height: 100px;
      }
    }

    .logo__bottom, .logo__top {
      fill: rgba(0,0,0,0);
      stroke-dasharray: 0 500;

      path {
        transition: fill 0.8s, stroke 0.5s;
      }

    }

    .logo__top {
      stroke: $primary-color;
    }

    .logo__bottom {
      stroke: #fff;
    }
  }
}
