@import './sections/homepage-intro';
@import './sections/homepage-about-us';
@import './sections/homepage-portfolio';
@import './sections/homepage-prices';
@import './sections/homepage-contacts';

.homepage-swiper {
  height: 100vh;

  &__item {
    overflow: hidden;
  }
}

.homepage {
  font-size: 30px;
}

.homepage {
  // opacity: 0;
}
